.right-box{
    margin-left: 0px;
    margin-top: 150px;

}

.typewrite{
    color:#007bff;
    font-weight: bolder;
}
.profile-img{
    max-width: 80%;
    border-color:#007bff;
}
.im{
    font-weight:normal;
    color: white;

}
.hithere{
    font-weight: lighter;
    color: white;
}
.section-home{
    background-image:url(Images/1st.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2), 0 20px 25px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    min-height: 700px;
    background-attachment: fixed;

}
.intro{
    color: white;
    
}
.page-heads{
    margin-top: 30px;
    text-align-last: center;
    font-family: 'Acme', sans-serif;
    font-size: 50px;
    
    
}
.services-section{
    background-image: url(Images/2222.jpg);
    
    background-size: cover;
    background-repeat: no-repeat;

}
.experience-section{
    background-image: url(Images/new\ more-chats-with-pure-chat.jpg);
    
    background-size: cover;
    background-repeat: no-repeat;

}

.card{
    
    box-shadow: 0px 0px 8px #888888;
}

.xiaomi{
    font-weight: bold;
    font-size: 20px;
    font-style: oblique;
}
.stockz{
    font-weight: bold;
    font-size: 20px;
    font-style: oblique;
}
.contact-us{
    
    width: 100%;
    margin-top: 100px;

}
.copyright{
    width: 100%;
    min-height: 68px;
}
.ico-footer-fb:hover{
    color:#3b5998 !important;

}
.ico-footer-tw:hover{
    color:#009ef7 !important;

}
.ico-footer-insta:hover{
    color:#bc2a8d !important;

}
.ico-footer-ytb:hover{
    color:red !important;

}
.contact-form-labels{
    font-weight:bold;
    font-style: oblique;
    color: white;
}
.contact-meleft{
    margin-top: 10px;
}
.cntct{
    font-size: 50px;
    font-family: 'Acme', sans-serif;
}
.feedback-txt{
    font-weight: normal;
    font-size: 30px;
}
.form-labels{
    color: white;
}

.navbar-nav > li > a:hover, .nav > li > a:focus {
    background-color: #88ce04;
    text-decoration: none;
    border-radius: 10px;
  }

.home-fb-ico:hover{
    color:#0c57f8 !important;

}
.home-twitter-ico:hover{
    color:#4ab8f8 !important;

}
.home-ytb-ico:hover{
    color:rgba(255, 0, 0, 0.685) !important;

}
.home-insta-ico:hover{
    color:#fd00ad !important;

}
.header-box{
    border-bottom: #88ce04;
    border-bottom-style:inset;
    border-bottom-width: 3px;
    background-color:#262626;
}
.head-img{
    display: block;
    
    width: 30%;
}


